.repo-link {
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.repo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #0a0a0a;
  border: 1px solid #292929;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 15px;
}

.repo-container:hover,
.repo-container:focus {
  color: #0a0a0a;
  background-color: #ffffff;
}

.repo-info {
  max-width: 100%;
  flex-shrink: 2;
}

.repo-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.repo-text {
  max-width: 350px;
  font-size: 14px;
  color: #acacac;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.star-count {
  font-size: 18px;
  text-align: end;
  margin-bottom: 5px;
}

.star-text {
  font-size: 12px;
  text-align: end;
  color: #acacac;
}

@media (max-width: 600px) {
  .repo-text {
    max-width: 200px;
  }
}
