.data-card {
  position: relative;
  width: 100%;
  background-color: #0a0a0a;
  border: 1px solid #292929;
  border-radius: 4px;
  padding: 0 50px 45px;
  margin: 0 auto 30px;
}

.user-url {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  color: #e5e5e5;
  text-decoration: none;
  z-index: 1;
}

.user-url:hover {
  color: #0da090;
}

@media screen and (max-width: 600px) {
  .data-card {
    padding: 0 20px 45px;
  }
}

@media (max-width: 600px) {
  .user-url {
    top: unset;
    right: 0;
    bottom: -25px;
  }
}
