.user-header {
  position: relative;
  top: -56px;
  text-align: center;
}

.user-avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.user-name {
  font-size: 18px;
  line-height: 23.74px;
  margin-bottom: 5px;
}

.user-login {
  font-weight: 400;
  font-size: 14px;
}
