.profile-base {
  max-width: 548px;
  margin: auto;
}

.rectangle-big {
  position: relative;
  max-width: 100%;
  background-color: #0a0a0a;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 32px;
}

.header-base {
  position: relative;
  max-width: 126px;
  margin: 0 auto 91px;
  top: -56px;
}

.circle {
  width: 112px;
  height: 112px;
  background-color: #222222;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.data-line-medium {
  margin-bottom: 5px;
  max-width: 126px;
  height: 18px;
  background-color: #222222;
  margin: 0 auto 11px;
}

.data-line-mini {
  max-width: 100px;
  height: 14px;
  background-color: #222222;
  margin: auto;
}

.repo-line-midi {
  max-width: 130px;
  height: 17px;
  background-color: #222222;
  margin: 0 auto 16px;
}

.rectangle-small {
  max-width: 100%;
  background-color: #0a0a0a;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 25px;
}

.repo-info-base {
  max-width: 305px;
}

.repo-line-medium {
  max-width: 126px;
  height: 18px;
  background-color: #222222;
  margin-bottom: 7px;
}

.repo-line-big {
  max-width: 305px;
  height: 17px;
  background-color: #222222;
}

.skeleton {
  animation: skeleton-loading 0.5s ease-out infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #222222;
  }

  100% {
    background-color: #484848;
  }
}

@media (max-width: 457px) {
  .rectangle-big {
    margin-bottom: 33px;
  }

  .header-base {
    margin: 0 auto 162px;
  }
}
